* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #fff4e8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.todo-container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #f57c00;
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}
.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 14px;
    border: 2px solid #ffd0a3;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

#taskInput:focus {
    border-color: #f57c00;
}

#addBtn {
    padding: 14px 22px;
    border: none;
    border-radius: 10px;
    background: #f57c00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#addBtn:hover {
    background: #e66f00;
}

.task-info {
    display: flex;
    justify-content: space-between;
    background: #fff4e8;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

.task-info b {
    color: #f57c00;
}

#taskList {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fffaf5;
    border-left: 5px solid #f57c00;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.task-text {
    flex: 1;
    font-size: 16px;
    color: #333;
    word-break: break-word;
}

.task.completed .task-text {
    text-decoration: line-through;
    color: #999;
}

.task-buttons {
    display: flex;
    gap: 6px;
}

.task-buttons button {
    border: none;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

.complete-btn {
    background: #f57c00;
}

.edit-btn {
    background: #ff9800;
}

.delete-btn {
    background: #d84315;
}

.task-buttons button:hover {
    opacity: 0.85;
}

#emptyMessage {
    text-align: center;
    color: #999;
    padding: 20px 0;
}

@media (max-width: 500px) {
    .todo-container {
        padding: 25px 18px;
    }

    .task-info {
        flex-direction: column;
        gap: 8px;
    }

    .input-box {
        flex-direction: column;
    }

    #addBtn {
        width: 100%;
    }

    .task {
        align-items: flex-start;
        flex-direction: column;
    }

    .task-buttons {
        width: 100%;
    }
}
<<<<<<< HEAD
=======

>>>>>>> 8249c59e61ea154801cf0b5ff7d69577959ffe91
